.test {
  border: 1px solid #ddd;
  background: rgb(124, 245, 245);
  width: 500px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;

  &__input {
    width: 100px;
    padding: 5px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
  }

  &__label {
    display: inline-block;
    margin: 5px 10px;
    cursor: pointer;
  }

  &__button {
    margin-top: 10px;
    padding: 8px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;

    &:hover {
      background-color: #0056b3;
    }
  }

  &__div {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 500;
  }
}
